#myCanvas {
    display: block;
    overflow: hidden;
    position: absolute;
}

#Fireworks{
    cursor: crosshair;
    max-width: 100%;
    height: auto;
}

#myName {
    font-size: 9vw;
    text-align: center;
    line-height: 150px;
    text-shadow: 3px -1px #ffffff, 1px 1px #d60, -3px 0 4px #000;
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 32px;
    font-weight: lighter;
    -moz-box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow: 3px 3px 6px #888;
    position: fixed;
    top: 50%;
    left: 30%;
    margin-top: -50px;
    margin-left: -100px;
}

.redirect{
    text-decoration: none;
    text-shadow: 3px -1px #ffffff, 1px 1px #d60, -3px 0 4px #000;
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 32px;
    font-weight: lighter;
    -moz-box-shadow: 2px 2px 6px #888;
    -webkit-box-shadow: 2px 2px 6px #888;
    box-shadow: 3px 3px 6px #888;
}

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
   
  }
  
  .container-flex > .redirect {
    margin:35px;
    font-size: 5vw;    
  }


.responsive {
    width: 100%;
    height: auto;
}

.dropdown {
    float: left;
}

.dropdown:hover .dropbtn {
    background-color: #002e5b;
    color: #fde428;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown .dropbtn {
    cursor: pointer;
    border: none;
    outline: none;
    color: #002e5b;
    font-size: 36px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
    background-color: inherit;
}

.dropbtn a {
    color: #002e5b
}

.dropdown-content {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #002e5b;
    font-size: 18px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
}

* {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

section {
    max-width: 1200px;
    margin: 0px auto;
    display: table;
    position: relative;
}

header {
    width: 100%;
    display: table;
    background-color: #fde428;
    margin-bottom: 50px
}

.navigate {
    overflow: hidden;
}

nav {
    width: auto;
    float: right;
}

nav ul {
    display: table;
    float: right;
}

nav ul li {
    float: left;
}

nav ul li:last-child {
    padding-right: 0px;
}

nav ul li a {
    color: #002e5b;
    font-size: 36px;
    padding: 25px 20px;
    display: inline-block;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover {
    background-color: #002e5b;
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a:hover i {
    color: #fde428;
    transition: all 0.5s ease 0s;
}

nav ul li a i {
    padding-right: 10px;
    color: #002e5b;
    transition: all 0.5s ease 0s;
}

.toggle-menu ul {
    display: table;
    width: 25px;
}

.toggle-menu ul li {
    width: 100%;
    height: 3px;
    background-color: #002e5b;
    margin-bottom: 4px;
}

.toggle-menu ul li:last-child {
    margin-bottom: 0px;
}

.grey-colour-container {
    background-color: #aeb7c4;
    padding: 600px;
}

.grey-colour-container .CrossOver {
    margin-top: -800px;
}

input[type=checkbox],
label {
    display: none;
}

@media only screen and (max-width: 1440px) {
    section {
        max-width: 95%;
    }
}

@media only screen and (max-width: 980px) {
    header {
        padding: 20px 0px;
    }
    input[type=checkbox] {
        position: absolute;
        background: none;
        top: -9999px;
        left: -9999px;
    }
    input[type=checkbox]:focus {
        background: none;
    }
    label {
        padding: 8px 0px;
        display: inline-block;
        cursor: pointer;
    }
    input[type=checkbox]:checked~nav {
        display: block;
    }
    nav {
        display: none;
        position: absolute;
        top: 53px;
        background-color: #002e5b;
        padding: 0px;
        z-index: 99;
    }
    nav ul {
        width: auto;
    }
    nav ul li {
        float: none;
        padding: 0px;
        width: 100%;
        display: table;
    }
    nav ul li a {
        color: #FFF;
        font-size: 15px;
        padding: 10px 20px;
        display: block;
        border-bottom: 1px solid rgba(225, 225, 225, 0.1);
    }
    .dropdown .dropbtn {
        font-size: 15px;
    }
    nav ul li a i {
        color: #fde428;
        padding-right: 13px;
    }
}

@media only screen and (max-width: 480px) {
    section {
        max-width: 90%;
    }
    #myName {
        font-size: 50px
    }
}

@media only screen and (max-width: 360px) {
    label {
        padding: 5px 0px;
    }
    nav {
        top: 47px;
    }
}

.About {
    text-align: left;
    font-size: 150px;
    padding: 40px;
    font-family: "gt_walsheimbold";
    font-weight: 400;
    width: 100%;
    margin-top: 8%;
    margin-left: -15px;
}

span {
    font-size: 150px;
    font-weight: 700;
}

.colour-container {
    background-color: #65def1;
    padding: 600px;
}

.colour-container .CrossOver {
    margin-top: -800px;
}

.background-container {
    background-color: #ffffff;
    padding: 600px;
}

#WorkExperience {
    text-align: center;
}

.image-conatiner {
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.CrossOver {
    width: 800px;
    height: 1700px;
    height: auto;
}

#background {
    text-align: right;
}

.Text-Left {
    margin-left: -900px;
    font-size: 2vw;
}

.Text {
    font-size: 2vw;
    text-align: center;
}

.Text-Right {
    font-size: 300%;
    text-align: right;
    margin-left: 500px;
}

.overlapTitle {
    font-size: 5rem;
    text-align: left;
    margin-top: -50px;
}

.AboutSpan {
    color: #65def1
}

.whiteText {
    text-align: center;
    font-size: 3vw;
}

body {
    overflow-x: hidden;
}

#canvas1 {
    display: block;
    background: #020202;
    cursor: crosshair;
}

#PersonalBody {
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    padding: 0 40px;
    perspective: 900px;
    perspective-origin: left;
}

.container_list {
    width: 50%;
    height: 100%;
    list-style: none;
}

.container_list a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 150px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    transform: rotateY(30deg);
    transform-style: preserve-3d;
    transform-origin: left center;
    text-shadow: #fff 0px 0px 5px, #fff 0px 0px 10px, #fff 0px 0px 15px, #ff2d95 0px 0px 20px, #ff2d95 0px 0px 30px, #ff2d95 0px 0px 40px, #ff2d95 0px 0px 50px, #ff2d95 0px 0px 75px;
    will-change: transform;
    transition: transform 0.7s;
}

.container_list a:hover {
    transform: rotateY(-2deg);
}

.footer{
    width: 200px;
  height: 200px;
  margin: 50px auto 0;
  position: relative;
  transition: 200ms ease-in-out;
}

.footer ul {

    margin: 0;
    padding: 0;
    position: relative;
    width: 200px;
    height: 200px;
}


.footer ul:after {
    content: '+';
    position: absolute;
    width: 100px;
    height: 100px;
    text-align: center;
    color: #2e0a22;
    font-size: 80px;
    top: 50px;
    left: 50px;
    transition: 300ms ease-in-out;
    opacity: 1;
  }
  .footer ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 30%;
    background: #f846bb;
    position: absolute;
    transition: 200ms ease-in-out;
  }
  .footer ul li i {
    position: absolute;
    top: 25%;
    left: 30%;
    color: white;
    transition: 200ms ease-in-out;
    opacity: 0;
  }
  .footer ul li:first-child {
    top: 20%;
    left: 20%;
    background-position: center;
    border-top-left-radius: 10px;
  }
  .footer ul li:nth-child(2) {
    top: 20%;
    left: 50%;
    border-top-right-radius: 10px;
  }
  .footer ul li:nth-child(3) {
    top: 50%;
    left: 20%;
    border-bottom-left-radius: 10px;
  }
  .footer ul li:nth-child(4) {
    top: 50%;
    left: 50%;
    border-bottom-right-radius: 10px;
  }
  .footer:hover {
    transform: rotate(45deg);
  }
  .footer:hover ul:after {
    opacity: 0;
  }
  .footer:hover ul li {
    border: solid 3px #ed8899;
    transform: rotate(-45deg);
  }
  .footer:hover ul li i {
    opacity: .5;
  }
  .footer:hover ul li:hover {
    transform: scale(0.9);
  }
  .footer:hover ul li:hover i {
    opacity: 1;
    transform: rotate(-45deg);
  }
  .footer:hover ul li:first-child {
    top: 10%;
    left: 10%;
    border-radius: 50%;
  }
  .footer:hover ul li:nth-child(2) {
    top: 10%;
    left: 60%;
    border-radius: 50%;
  }
  .footer:hover ul li:nth-child(3) {
    top: 60%;
    left: 10%;
    border-radius: 50%;
  }
  .footer:hover ul li:nth-child(4) {
    top: 60%;
    left: 60%;
    border-radius: 50%;
  }
  